.member-committees {
  &__link {
    display: block;
    padding: 15px 5px;

    text-decoration: none;

    transition: background-color 200ms ease-in-out;

    &,
    &:active,
    &:visited {
      color: $black;
    }

    &:hover {
      background-color: $hover-gray;
    }
  }

  &__committee {
    border-bottom: 1px solid $divider-gray;

    &:last-child {
      border-bottom: 1px solid transparent;
    }
  }

  &__committee-name {
    margin: 0 0 10px 0;

    font-weight: normal;
  }

  &__rank {
    font-size: 0.85rem;
  }
}