.member-header {
  font-family: $font-primary;

  &__title {
    margin: 0;

    font-size: 0.85rem;
    font-weight: 300;
    letter-spacing: 0.025em;
  }

  &__name-row {
    position: relative;
    margin-bottom: 12px;

    overflow: auto;
  }

  &__name {
    float: left;

    margin: -6px 0 0 0;

    font-size: 1.65rem;
    font-family: $font-bold;
    text-transform: uppercase;
  }

  &__state {
    position: absolute;
    right: 0;
    bottom: 4px;

    margin: 0;

    font-size: 1rem;
    font-weight: 100;
  }

  &__pic-wrapper {
    height: 320px;

    margin: 0 -10px;

    clear: left;
    overflow: auto;

    &--republican {
      background-color: $republican;
    }

    &--democrat {
      background-color: $democrat;
    }

    &--independent {
      background-color: $independent;
    }
  }

  &__pic {
    display: block;
    height: 100%;
    width: auto;

    margin: 0 auto;
  }

  &__social-wrapper {
    margin-top: 8px;
    margin-bottom: 20px;
  }

  &__social-list {
    margin: 0;
    padding: 0;

    list-style: none;
    overflow: auto;
  }

  &__social-item {
    width: 25%;
    float: left;

    text-align: center;
  }
}