.member-header {
  position: relative;

  margin-bottom: 15px;

  font-family: $font-primary;

  &__title {
    margin: 0;

    font-size: 0.85rem;
    font-weight: 300;
    letter-spacing: 0.025em;
  }

  &__name-row {
    position: relative;
    margin-bottom: 12px;

    overflow: auto;
  }

  &__name {
    float: left;

    margin: -6px 0 0 0;

    font-size: 1.65rem;
    font-family: $font-bold;
    text-transform: uppercase;
  }

  &__state {
    position: absolute;
    right: 0;
    bottom: 4px;

    margin: 0;

    font-size: 1rem;
    font-weight: 100;
  }

  &__pic-wrapper {
    position: relative;
    height: 320px;

    margin: 0 -10px;

    clear: left;
  }

  &__pic {
    display: block;
    height: 100%;
    width: auto;

    margin: 0 auto;

    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.35);

    &--republican {
      border: 8px solid $republican;
    }

    &--democrat {
      border: 8px solid $democrat;
    }

    &--independent {
      border: 8px solid $independent;
    }
  }

  &__social-wrapper {
    width: 100%;

    margin: 15px auto 20px;
  }

  &__social-list {
    width: 60%;

    margin: 0 auto;
    padding: 0;

    list-style: none;
    overflow: auto;
  }

  &__social-item {
    width: 25%;
    float: left;

    text-align: center;
  }

  &__social-icon {
    width: 18px;
    height: 18px;

    vertical-align: middle;
  }
}