.member-header {
  font-family: $font-primary;

  &__title {
    margin: 0;

    font-size: 14px;
    font-weight: 300;
  }

  &__name-row {
    position: relative;

    overflow: auto;
  }

  &__name {
    float: left;

    margin: -6px 0 0 0;

    font-size: 20px;
    font-family: $font-bold;
  }

  &__state {
    position: absolute;
    right: 0;
    bottom: 2px;

    margin: 0;

    font-weight: 100;
  }

  &__pic-wrapper {
    height: 320px;

    margin: 0 -10px;

    clear: left;
    overflow: auto;
  }

  &__pic {
    display: block;
    height: 100%;
    width: auto;

    margin: 0 auto;
  }
}