.member-header {
  position: relative;

  margin-bottom: 15px;

  font-family: $font-primary;

  &__title {
    margin: 0;

    font-size: 0.85rem;
    font-weight: 300;
    letter-spacing: 0.025em;
  }

  &__name-row {
    position: relative;
    margin-bottom: 12px;

    overflow: auto;
  }

  &__name {
    float: left;

    margin: -6px 0 0 0;

    font-size: 1.65rem;
    font-family: $font-bold;
    text-transform: uppercase;
  }

  &__state {
    position: absolute;
    right: 0;
    bottom: 4px;

    margin: 0;

    font-size: 1rem;
    font-weight: 100;
  }

  &__pic-wrapper {
    height: 320px;

    margin: 0 -10px;
    padding: 30px 30px 60px 30px;

    clear: left;
    overflow: auto;

    &--republican {
      background-image: linear-gradient(
        to bottom right,
        lighten($republican, 5%), $republican, darken($republican, 15%)
      );
    }

    &--democrat {
      background-image: linear-gradient(
        to bottom right,
        lighten($democrat, 5%), $democrat, darken($democrat, 15%)
      );
    }

    &--independent {
      background-image: linear-gradient(
        to bottom right,
        lighten($independent, 5%), $independent, darken($independent, 15%)
      );
    }
  }

  &__pic {
    display: block;
    height: 100%;
    width: auto;

    margin: 0 auto;

    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.35);
  }

  &__social-wrapper {
    position: absolute;
    bottom: 0;

    width: 100%;

    margin: 12px auto 20px;
  }

  &__social-list {
    width: 60%;

    margin: 0 auto;
    padding: 0;

    list-style: none;
    overflow: auto;
  }

  &__social-item {
    width: 25%;
    float: left;

    text-align: center;
  }

  &__social-icon {
    width: 18px;
    height: 18px;

    vertical-align: middle;
  }
}