.member-show {
  &__member-title {
    font-family: $primary;
    font-size: 16px;
  }

  &__member-name {
    font-family: $display;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__profile-pic {
    width: 320px;
  }
}