<div class="jumbotron">
  <p><%= @member.title %> <%= @member.name %></p>
  <p>Member ID# <%= @member.member_id %></p>
  <p>Facebook: <%= @member.facebook %></p>
  <p>Twitter: <%= @member.twitter %></p>
  <p>YouTube: <%= @member.youtube %></p>
  <p>Website: <%= @member.website %></p>
  <p>Party: <%= @member.party %></p>
</div>
