@import "variables/fonts";
@import "variables/colors";

@import "layout/accordion";
@import "layout/content";
@import "layout/footer";
@import "layout/header";

@import "member/member_show";

html {
  font-size: 16px;
}

body {
  margin: 0;

  background-color: whiterose;
  color: black;
}
