@import "variables/fonts";

@import "layout/content";
@import "layout/footer";
@import "layout/header";

@import "member/member_show";


body {
  margin: 0;

  background-color: whiterose;
  color: black;
}
