.accordion {
  margin-bottom: 25px;

  &--open {
    margin-bottom: 0;
  }

  &--closed &__list {
    height: 0;
  }

  &__list {
    font-family: $font-display;
    font-size: 1rem;
  }

  &__header {
    margin: 0;
    padding: 10px 0;

    font-size: 16px;
    font-family: $font-secondary;
    font-weight: bold;
    text-transform: uppercase;

    cursor: pointer;

    &::after {
      content: "+";
      float: right;
    }
  }

  &__list {
    height: 0;

    margin: 0;
    padding: 0;

    list-style: none;

    overflow: hidden;
  }

  &--open &__list {
    height: auto;
  }
}
