.footer {
  width: 100%;

  background-color: skyblue;

  @media screen
    and (max-width: 767px) {
      height: 300px;
    }

  @media screen
    and (min-width: 768px)
    and (max-width: 1279px) {
      height: 375px;
  }

  @media screen
    and (min-width: 1280px) {
      height: 475px;
  }
}