$yt-red:        #ff0000;
$fb-blue:       #3b5998;
$twitter-blue:  #1da1f2;

$democrat:        #40c4ff;
$republican:      #ff5252;
$independent:     #69f0ae;

$yes:           #49a778;
$no:            #af3939;

$white:         #ffffff;
$black:         #000000;

$divider-gray: rgba(0, 0, 0, 0.15);
$hover-gray: rgba(0, 0, 0, 0.05);